.left {
    font-family: 'Sail';
    font-weight: 600;
    font-size: 50px;

    background: rgba(0, 128, 128, 1);
    -webkit-background-clip: text;

    color: transparent;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100vw;

    box-shadow: 1vh 1vh 5vh black;
    background-color: rgb(173, 171, 171);
}

.right ul {

    list-style: none;
    display: flex;
    gap: 1vw;

    font-size: 25px;

}

.right ul li a {
    text-decoration: none;

    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: rgb(54, 51, 51);
}

.right ul li a:hover {
    transition: all ease 1.1s;

    background: rgba(0, 128, 128, 0.8);

    color: aliceblue;
    cursor: pointer;
}

body {

    background-color: rgba(59, 59, 59, 0.24);

    color: rgb(54, 51, 51);

}

.aboutcontainer {

     position: fixed; 

    display: flex;
    height: 200vh;
    justify-content: center;
    background-color: rgba(0, 128, 128, 1);
    width: 40vw;


}

img {
    position: absolute;
    top: 13vh;
    height: 50vh;
    width: 30vw;
}

.name {

    position: absolute;
    top: 63vh;
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

.contact {

    position: absolute;
    top: 76vh;

    color: white;
    font-size: 25px;
    font-weight: 800;
    text-align: center;



}

.logo {

    display: flex;
    gap: 3.4vw;
    font-size: 3vw;

}

.logo a {
    text-decoration: none;
    color: white;


}

i {

    border: .1vh solid white;
    padding: .5vw;
    border-radius: 20%;

}
i:hover{

background-color: rgb(1, 42, 25);




}
.paste{

position: relative;
background-color: rgba(0, 128, 128, 1);

height: 35vh;
width: 22vw;
left: 43vw;
top: 23vh;
}
.grey{

position: relative;
    height: 39vh;
    width: 22vw;
    left: 75vw;
    top: -7vh;
   background-color:  rgba(75, 75, 75, 0.5);

}
.letter{
position: relative;
background-color: grey;
color: rgb(1, 50, 50);
padding-left: 1vw;
width: 50vw;
top: -52vh;
left: 45vw;
padding-bottom: 1vh;
}
.cv{


    position: relative;
    background-color: grey;
    bottom: 50vh;
width: 40vh;
left: 45vw;
}
#CVID{
text-decoration: none;
color: rgb(1, 50, 50);

font-weight: 800;

font-size: 20px;


}
#CVID i:hover{

background-color: grey;



}
#CVID:hover{


text-decoration: underline;


}
@media only screen and (max-width: 1300px){


.contact{

top: 89vh;


font-size: 3vw;

}




.logo{

font-size: 3vw;

}



.name{

font-size: 3vw;

}




}
@media only screen and (max-height: 600px){


.contact{


top: 90vh;

font-size: 3vh;

}


.logo{


font-size: 3vh;


}



.name{

font-size: 3vh;


}



}